<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body style="text-align: center; margin: auto">
    <div style="max-width: 767px; margin: auto;">
      <div>
        <h1 style="font-weight: 300">MAKKAJ PERFUMES</h1>
      </div>
      <div style="background-color: #f7efed; padding: 20px; text-align: center">
        <h2>WE'VE RECEIVED YOUR ORDER!</h2>
        <p style="margin-bottom: 0px; padding-bottom: 30px">
          Thanks for shopping with MAKKAJ PERFUMES! Please allow up to 4 business
          days (excluding weekends, holidays, and sale days) to process and ship
          your order. You will receive another email when your order has
          shipped.
        </p>
        <div>
          <span style="font-size: 1.4em; font-weight: 800">Order Date: </span>
          <span style="margin-left: 10px; font-size: 1.4em">{{date}}</span>
        </div>
      </div>
    </div>
  </body>
</html>
