.App {
  text-align: center;
}
body{
  scroll-behavior: smooth;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BREADCRUMBS */

.MuiTypography-colorTextSecondary {
  color: #fff !important;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.MuiTypography-colorTextPrimary {
  color: #fff !important;
}

button {
  cursor: pointer;
}

